<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: header}"/>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}" />
    <h3 class="text-center">Access Denied!</h3>
    <div class="container-fluid col-md-6 offset-md-3">
      <img src="/images/undraw_access_denied_re_awnf.svg" class="img-fluid mt-5" alt="403 - Access Denied">
    </div>
  </body>
  <footer th:insert="~{fragments/footer :: footer}" />
</html>
