<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/header :: head}" />
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>
		<main role="main" class="container">
			<div class="row justify-content-md-center">
				<form method="post" th:action="@{/orders/buy-now}" th:object="${payRequest}">
					<div class="row">
						<div class="col-7">
							<div th:each="prod : ${products}">
								<div class="row mb-2" th:insert="~{products :: productCard(prod=${prod})}" />
							</div>
						</div>
						<div class="col-3">
							<div class="card">
								<div class="card-body">
									<h4>Pay with VNPay</h4>
									<div class="form-group my-3">
										<label for="vnp_Amount">Amount</label>
										<div class="input-group mb-3">
											<input class="form-control"
												   readonly
												   data-val="true"
												   data-val-number="The field Amount must be a number."
												   data-val-required="The Amount field is required."
												   th:field="*{vnp_Amount}">
											<span class="input-group-text" id="basic-addon2">VND</span>
										</div>
									</div>
									<div class="form-group mb-3">
										<label for="vnp_OrderInfo">Description</label>
										<textarea class="form-control"
												  cols="20"
												  rows="2"
												  th:field="*{vnp_OrderInfo}" />
									</div>
									<div class="form-group">
										<label for="vnp_BankCode">Bank</label>
										<select th:field="*{vnp_BankCode}" class="form-select">
											<option value="NCB">NCB</option>
										</select>

									</div>

									<div class="row m-3">
										<button type="submit" class="btn btn-success btn-lg">Pay</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</main>
	</body>
	<footer th:insert="~{fragments/footer :: footer}" />
</html>
