<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: head}"/>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>
    <main role="main" class="container">
      <div>
        Giao diện Trang chủ:
        <ul>
          <li>hiển thị sản phẩm bán trên 10 sản phẩm của các shop</li>
          <li>sắp xếp theo thứ tự từ lớn đến nhỏ</li>
        </ul>
      </div>

      <div class="row col-md-12 offset-md-0">

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="#" class="btn btn-success">Buy Now</a>
              <a href="#" class="btn btn-outline-success">Add To Cart</a>
            </div>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://down-vn.img.susercontent.com/file/sg-11134301-7rdvs-m01bhb1twkvn33_tn.webp" class="card-img-top" alt="iphone-16-img">
          <div class="card-body">
            <h5 class="card-title">iPhone 16 Pro Max</h5>
            <p class="card-text">Điện thoại Apple iPhone 16 Pro Max 256GB</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>

    </main>
  </body>
  <footer th:insert="~{fragments/footer :: footer}" />
</html>