<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: head}"/>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>
    <main role="main" class="container-sm">
      <div class="row col-md-6 offset-md-3">
        <form class="row g-3" method="post" th:action="@{/login}" th:fragment="loginForm">
          <div class="alert alert-success alert-dismissible" role="alert" th:if="${param.success}">
            <div>Verification successfully, please login!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div class="row">
            <label for="username1" class="form-label">Email</label>
            <input class="form-control" name="username" id="username1" autocomplete="email">
          </div>
          <div class="row mt-3">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword4">
          </div>
          <div th:if="${param.error}" class="alert alert-danger">
            Invalid username or password!
          </div>
          <div class="col offset-md-10 mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </main>
  </body>
  <footer th:insert="~{fragments/footer :: footer}" />
</html>

<!-- TODO: use Bootstrap's dropdown form: https://getbootstrap.com/docs/5.3/components/dropdowns/#forms -->