<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: head}"/>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>
    <main role="main" class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-4">
          <form method="post" th:action="@{/login/ott}">
            <p>We have sent you an email with the verification URL.</p>
            <p>Please check your email address!</p>
          </form>
        </div>
      </div>
    </main>
  </body>
  <footer th:insert="~{fragments/footer :: footer}" />
</html>