<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: head}" />
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>
    <main role="main" class="container-sm">

        <div class="row col-md-6 offset-md-3">
            <div class="alert alert-success alert-dismissible" role="alert" th:if="${param.success}">
                <div>Product saved successfully!</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${param.error}">
                <div>Failed to save product!</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form class="row g-3" method="post" th:action="@{#}" th:object="${product}">
                <div class="container row g-3" th:fragment="productForm">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Product Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="type" class="form-label">Product Type <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="type" th:field="*{type}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="price" class="form-label">Price <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="price" th:field="*{price}" step="0.01" required>
                    </div>
                    <div class="col-md-6">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="url" class="form-control" id="image" th:field="*{image}">
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                    </div>
					<div class="col offset-md-10 my-3">
						<button type="submit" class="btn btn-primary"
							th:if="${product.id == null}"
							formaction="/products/create">Create</button>
						<button type="submit" class="btn btn-primary"
							th:unless="${product.id == null}"
							th:formaction="@{'/products/' + ${product.id}}">Save</button>
					</div>
				</div>
            </form>
        </div>
    </main>
</body>
<footer th:insert="~{fragments/footer :: footer}" />
</html>