<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/header :: head}" />
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>

		<style>.card {transition: box-shadow .3s;} .card:hover {box-shadow: 0 0 22px rgba(33,33,33,.2);}</style>

		<main role="main" class="container">
			<h1>Products</h1>
			<div class="d-flex justify-content-end mb-3">
				<a class="btn btn-success" th:href="@{/products/create}">Create Product</a>
			</div>
			<div class="row col-md-8 offset-md-2">
				<form class="input-group mb-3" method="get" th:action="@{/products}">
					<input type="text"
						   class="form-control"
						   placeholder="Search for product"
						   id="inputSearchProduct"
						   name="search">
					<button class="btn btn-outline-primary"
							type="submit"
							id="btnSearchProduct">Search</button>
				</form>
			</div>
			<form method="post" th:action="@{#}">
				<div class="row row-cols-1 row-cols-sm-2 g-4">
					<div class="col" th:each="prod : ${products}">
						<div class="card h-100 w-100" th:fragment="productCard(prod)">
							<a class="row g-0 link-offset-2 link-underline link-underline-opacity-0 link-dark" th:href="@{'/products/' + ${prod.id}}">
								<div class="col-md-4">
									<img th:src="${prod.image}" class="img-fluid rounded-start" alt="product img">
								</div>
								<div class="col-md-8">
									<div class="card-body d-flex flex-column">
										<h5 class="card-title" th:text="${prod.name}" />
										<p class="card-text" th:text="${prod.description}" />
										<p class="card-text" th:text="'Product Type: ' + ${prod.type}" />
										<p class="card-text" th:text="'Price: $' + ${prod.price}" />
										<div class="d-flex flex-row-reverse" role="group" th:if="${currentContext.matches('^\/products')}">
											<button type="submit" class="btn btn-danger" formmethod="post" th:formaction="@{'/products/' + ${prod.id} + '/delete'}">Delete</button>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
			</form>
		</main>

		<footer th:insert="~{fragments/footer :: footer}" />
	</body>
</html>