<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: head}" />
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary"
         th:replace="~{fragments/nav :: nav}"></nav>
    <main role="main" class="container-sm">

      <div class="row col-md-6 offset-md-3">
        <div class="alert alert-success alert-dismissible" role="alert"
             th:if="${param.success}">
          <div>Product saved successfully!</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>

        <div class="alert alert-danger alert-dismissible" role="alert"
             th:if="${param.error}">
          <div>Failed to save product!</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>

        <form class="row g-3" method="post" th:action="@{#}" enctype="multipart/form-data"
              th:object="${product}">
          <div class="container row g-3" th:fragment="productForm">
            <div class="col-md-6">
              <label for="name" class="form-label">Product Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="col-md-6">
              <label for="type" class="form-label">Product Type <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="type" th:field="*{type}" required>
            </div>
            <div class="col-md-6">
              <label for="price" class="form-label">Price <span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="price" th:field="*{price}" step="0.01" required>
            </div>

            <div class="col-md-6">
              <label class="form-label" for="image">Image</label>
              <div class="input-group mb-3">
                <input type="file" class="form-control" name="image" id="image">
              </div>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
            </div>

            <div class="col offset-md-8 my-3">
              <th:block th:unless="${role} eq 'user'">
                <button type="submit" class="btn btn-primary"
                        th:if="${product.id == null}" formaction="/products/create">Create</button>
                <button type="submit" class="btn btn-primary"
                        th:unless="${product.id == null}"
                        th:formaction="@{'/products/' + ${product.id}}">Save</button>
              </th:block>

              <th:block th:if="${canReviewProduct and !canUpdateReview}">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#reviewProductModal"
                        type="button">
                  Write Review
                </button>
              </th:block>
            </div>
          </div>
        </form>

      </div>
      <h5>User reviews</h5>
      <div th:each="rev : ${reviews}">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <h6 class="card-title" th:text="${rev.userName}"/>
                <p class="card-text" th:text="${rev.rate}"/>
                <p class="card-text" th:text="${rev.comment}"/>
                <p class="card-text">
                  <small class="text-body-secondary" th:text="${rev.lastUpdated}"/>
                </p>

                <div class="btn-group" role="group" th:if="${canUpdateReview and (rev.userName eq userName)}">
                  <button type="button"
                          class="btn btn-primary dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    Update
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item"
                         th:attr="data-bs-target=${'#updateReviewModal' + rev.id}"
                         data-bs-toggle="modal"
                         href="#">
                        Update
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item"
                         th:href="@{'/products/' + ${product.id} + '/reviews/' + ${rev.id} + '/delete'}">
                        Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" tabindex="-1"
             th:id="${'updateReviewModal' + rev.id}"
             th:unless="${currentContext.matches('^\/products\/create')}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Update Review</h5>
              </div>
              <div class="container g-3">
                <form class="modal-body"
                      method="post"
                      th:object="${review}"
                      th:action="@{'/products/' + ${product.id} + '/reviews/' + ${rev.id}}">
                  <div class="row">
                    <label for="rate" class="form-label">Rate</label>
                    <input th:field="*{rate}" class="form-range px-3" min="1" max="5" type="range">
                  </div>
                  <div class="form-group mb-3">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" cols="20" rows="2" th:field="*{comment}"/>
                  </div>
                  <div class="col offset-md-10 mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer th:insert="~{fragments/footer :: footer}" />

  <div class="modal" tabindex="-1"
       id="reviewProductModal"
       th:unless="${currentContext.matches('^\/products\/create')}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Write Review</h5>
        </div>
        <div class="container g-3">
          <form class="modal-body"
                method="post"
                th:object="${review}"
                th:action="@{'/products/' + ${product.id} + '/reviews'}">
            <div class="row">
              <label for="rate" class="form-label">Rate</label>
              <input th:field="*{rate}" class="form-range px-3" min="1" max="5" type="range">
            </div>
            <div class="form-group mb-3">
              <label for="comment">Comment</label>
              <textarea class="form-control" cols="20" rows="2" th:field="*{comment}"/>
            </div>
            <div class="col offset-md-10 mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</html>
