<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: head}" />
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		th:replace="~{fragments/nav :: nav}"></nav>
	<main role="main" class="container-sm">

		<div class="row col-md-6 offset-md-3">
			<div class="alert alert-success alert-dismissible" role="alert"
				th:if="${param.success}">
				<div>Shop saved successfully!</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

			<div class="alert alert-danger alert-dismissible" role="alert"
				th:if="${param.error}">
				<div>Failed to save shop!</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

			<form class="row g-3" method="post" th:action="@{#}" enctype="multipart/form-data"
				th:object="${shop}">
				<div class="container row g-3" th:fragment="shopForm">
					<div class="col-md-6">
						<label for="name" class="form-label">Shop Name <span
							class="text-danger">*</span></label> <input type="text"
							class="form-control" id="name" th:field="*{name}" required>
					</div>
					<div class="col-md-6">
						<label for="type" class="form-label">Shop Type <span
							class="text-danger">*</span></label> <input type="text"
							class="form-control" id="type" th:field="*{type}" required>
					</div>
					<div class="col-md-6">
						<label for="type" class="form-label">Owner <span
							class="text-danger">*</span></label> <input type="text"
							class="form-control" id="owner" th:field="*{owner}" required>
					</div>

					<div class="col offset-md-10 my-3">					
						<!-- <button type="submit" class="btn btn-primary" formaction="/products/image/upload">Upload</button> -->
						
						<button type="submit" class="btn btn-primary"
							th:if="${shop.id == null}" formaction="/shops/create">Create</button>
						<button type="submit" class="btn btn-primary"
							th:unless="${shop.id == null}"
							th:formaction="@{'/shops/' + ${shop.id}}">Save</button>
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
<footer th:insert="~{fragments/footer :: footer}" />
</html>