<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/header :: head}"/>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:replace="~{fragments/nav :: nav}"></nav>
    <main role="main" class="container">

      <div class="row col-md-8 offset-md-2">
        <form class="input-group mb-3" method="get" th:action="@{/users}">
          <input type="text" class="form-control" placeholder="Search for user" id="inputSearchUser" name="search">
          <button class="btn btn-outline-primary" type="submit" id="btnSearchUser">Search User</button>
        </form>

        <form class="row" method="post" th:action="@{#}">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
                <th/>
              </tr>
            </thead>
            <tbody>
              <tr data-th-each="user : ${users}">
                <td data-th-text="${user.id}"/>
                <td data-th-text="${user.name}"/>
                <td data-th-text="${user.phoneNumber}"/>
                <td data-th-text="${user.emailAddress}"/>
                <td data-th-text="${user.role.name}"/>
                <td>
                  <div class="dropdown" role="group">
                    <button type="button" class="btn btn-sm" data-bs-toggle="dropdown">
                      <svg width="12" height="14" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <button type="submit"
                              class="btn btn-primary dropdown-item"
                              th:formaction="@{'/users/' + ${user.id} + '/delete'}">
                        Delete
                      </button>
                      <button type="submit"
                              class="btn btn-primary dropdown-item"
                              formmethod="get"
                              th:formaction="@{'/users/' + ${user.id}}">
                        Update
                      </button>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </main>
  </body>
  <footer th:insert="~{fragments/footer :: footer}" />
</html>